<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myAlth.app.dao.GoodDao">
    <select id="findByGoodid" parameterType="string" resultType="Good">
        SELECT * FROM goods WHERE gid = #{id}
    </select>
</mapper>